.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
    direction:rtl;
}

.product:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product img {
    max-width: 100%;
    height: 165px;
    transition: all 0.3s ease;
}

.product:hover img {
    transform: scale(1.05);
}

.product h3 {
    margin: 10px 0;
    margin-bottom: 30px;
}

.price {
    font-weight: bold;
    color: #2ecc71;
    border-top: 1px solid #2ecc71;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    align-content: center;
    transition: all 0.3s ease;
}

.product:hover .price {
    background-color: #2ecc71;
    color: white;
    border-radius: 0 0 8px 8px;
}

